@import "/IDE/inter.css";
@import "/IDE/ihp-toolserver-layout.css";
@import "/IDE/toolserver-logs.css";
@import "/IDE/ihp-codegen.css";
@import "/IDE/contextmenu.css";
@import "/IDE/tooltip.css";
@import "/IDE/table.css";
@import "/IDE/form.css";
@import "/IDE/code.css";
@import "/IDE/migrations.css";

.object-selector h5 {
    font-size: 14px;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-weight: 600;
    opacity: 0.8;
}

.column-selector h5 {
    font-size: 14px;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-weight: 600;
    opacity: 0.8;
}

.object {
    font-size: 14px;
    padding-left: 0.5rem;
    display: block;
    color: black;
}

.object:hover {
    text-decoration: none;
    color: black;
    background-color: rgba(0,0,0,.075);
}

.object.active {
    background-color: #2862d9;
    color: #ffffff;
    transition: color 0.1s;
}

.object svg {
	margin-right: 0.1rem;
}

.object-selector, .column-selector, .visual-error {
    border: 1px solid #d5d4d5;
    user-select: none;
    min-height: 800px;
    display: flex;
    flex-direction: column;
}

.context-menu-notice {
    font-size: 10px;
    margin-top: auto;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    opacity: 0.5;
}

.object-selector.empty .context-menu-notice {
    margin-bottom: auto;
    font-size: 2rem;
    text-align: center;
}

.visual-error {
    padding: 5rem;
}

.column-selector {
    border-left: 0;
}

.column-selector table tr:first-child td {
    border-top: 0;
}

.column-selector {
    font-size: 14px;
}

.toolbox {
    margin-left:auto;
    margin-right:2px;
}

.generated-haskell-code {
    background-color: hsla(192, 81%, 3%, 1);
    color: hsla(196, 13%, 90%, 1);
    padding: 1rem;
    font-size: 12px;
    margin-top: 2rem;
}

.column-selector .column {
    color: #808080;
}

.column-selector .column td:first-child {
    color: black;
    font-size: 14px;
    padding-left: 8px;
}

.column-selector .column td {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 10px;
    vertical-align: middle;
}

.index td {
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
}

.index .index-expressions {
    font-size: 10px;
    color:  #808080;
}

.nav-link.active {
    background-color: #f8f8f8 !important;
    border-color: #dee2e6 #dee2e6 #f8f8f8 !important;
    color: #212529 !important;
}

.nav-link {
    background-color: #fff !important;
    border-bottom: 1px solid #dee2e6 !important;
    color: #6c757d !important;
}

.nounderline {
    text-decoration: none !important
}

.error-box {
    background-color: black;
    color: white;
}

#editor {
    min-height: 800px;
    background-color: #33555E#33555E
}

.row-form {
    font-size: 14px;
}

.no-link {
    color: #000;
    text-decoration: none !important;
}

.schema-update-failed {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 8px;
    color: #6c757d;
}

.schema-update-failed .error {
    color: red;
    font-weight: 800;
    font-size: 16px;
}

#schema-designer-viewer {
    margin-bottom: 200px; /* Make sure the context menu has a bit of space, see https://github.com/digitallyinduced/ihp/issues/895 */
}

.index .index-name, .policy .policy-name {
    padding-left: 8px;
}

.policy-expression small {
    display: block;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    color:  rgb(128, 128, 128);
}

.rls-enabled {
    margin-left: auto;
    padding-right: 10px;
}

.edit-policy .ace_editor {
    min-height: 80px;
    border-radius: 3px;
}



.object-selector, .column-selector {
    background-color: #063642;
}

.object {
    color: #E5EAEB;
    transition: all 0.1s;
    border-bottom: 1px solid #0A4151;
}

.object:hover {
    color: hsla(196, 13%, 80%, 1);
    background-color: hsla(192, 81%, 26%, 0.25);
}

.object.active {
    background-color: hsla(192, 81%, 26%, 0.5);
    color:  hsla(196, 13%, 95%, 1);
}

.object-selector, .column-selector, .visual-error {
    border-right: 1px solid #0A4151;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}

.object-selector h5, .column-selector h5 {
    color: #E5EAEB;
    font-size: 14px;
    font-weight: bold;
}

.column-selector .column td:first-child {
    color:  #fff;
}

.column-selector .column {
    color: #FFFFFF;
}

.alert.alert-primary {
    background-color: hsla(192, 81%, 26%, 1);
    color: hsla(196, 13%, 90%, 1);
    border: 1px solid #0A4151;
}

#schema-designer-viewer {
    margin-bottom: 0;
    flex-grow: 1;
}

.object-selector, .column-selector {
    min-height: 0 !important;
}

.migration-status-visible .column-selector {
    padding-bottom: 100px;
}

.table-hover tbody tr:hover {
    color: #fff;
}

.view-selector {
    border-bottom: 1px solid #0A4151;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: 14px;
    user-select: none;
}

.view-selector a {
    color:  #fff;
    opacity: 0.9;
    text-decoration: none;
    font-weight: bold;
    margin-right: 12px;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
}

.view-selector a.active {
    border-bottom: 2px solid #E5EAEB;
}

#column-options label {
    color: hsla(196, 13%, 80%, 0.8);
    font-size: 12px;
}

#column-options .custom-control {
    display: flex;
    justify-content: center;
    align-items: center;
}

#column-options .custom-control-label::before {
    top: 1px;
}

#editor .code-editor-container {
    min-height: 800px;
}

.select2-results__option span.key {
    opacity: 0.5;
    margin-right: 12px;
    font-size: 10px;
}
.select2-results__option span.key-value-container {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    padding-left: 8px;
    border-right: 1px solid hsl(300deg 1% 83% / 10%);
}

.select2-results__option .record {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.select2-results__option span.value {
    white-space: nowrap;
}

#migration-status-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

#migration-status-container > .alert {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px !important;
    padding-right: 16px !important;
    border: 2px solid #0B5163;
    background-color: #0A4151;
}

#migration-status-container .btn.btn-dark {
    background-color: #002B37;
    border: 1px solid hsla(192, 81%, 26%, 0.8);
}

.policy-expression small, .index .index-expressions {
    color: hsla(196, 13%, 80%, 1) !important
}

.object.object-table a, a.object.object-table {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

#schema-designer-viewer .object-selector, #schema-designer-viewer .column-selector {
    transition: all 0.2s;
}


.foreign-key-hovercard .tooltip-inner {
    min-width: 350px;
    min-height: 350px;
    text-align: left;
    background-color: hsl(192deg 83% 22%);
    border: 2px solid #0A4151 !important;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.foreign-key-hovercard {
    opacity: 1 !important;
}

.foreign-key-hovercard h1 {
    font-size: 22px;
    font-weight: bold;
}


.btn-suggested-table {
    width: calc(100% - 24px);
    display: block;
    text-align: left;
    background-color: #0A4151;
    padding: 0;
    margin-left: 4px;
    margin-right: 4px;
    color: #E5EAEB;
    opacity: 0.5;
    border: 1px dashed #08657D;
}

.btn-suggested-table:hover {
    background-color: #0B4D60;
    border: 1px solid #08657D;
    opacity: 1;
}

#suggested-columns-title {
    font-size: 14px;
    font-weight: 400;
}

.ref {
    justify-content: start !important;
    padding-left: 1rem;
    margin-bottom: .25rem;
    margin-top: .4rem;
}