name: Binary Build
on:
  push:
    branches: '*'
  pull_request:
    branches: [master] # This allows us to test PRs without always needing to build locally. It's secure as all first time contributors first need to be approved for running GitHub actions
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, macos-13, macos-11, ARM64]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v20
      with:
        nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/a95ed9fe764c3ba2bf2d2fa223012c379cd6b32e.tar.gz
    - uses: cachix/cachix-action@v12
      with:
        name: digitallyinduced
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: git clone https://github.com/digitallyinduced/ihp-boilerplate.git
    - name: Cache build directory
      uses: actions/cache@v2
      with:
        path: |
          ihp-boilerplate/build
        key: ${{ runner.os }}-ghc
    - run: |
          git archive master --format=tar --prefix=ihp-pro/ | gzip >${{ github.sha }}.tar.gz
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-west-1
    - name: Upload release to S3
      run: |
          aws s3 cp ./${{ github.sha }}.tar.gz s3://${{ secrets.S3_BUCKET }}/releases/${{ github.sha }}.tar.gz
    - name: Build Binaries for Cachix
      run: |
          export TARBALL_URL=`aws s3 presign s3://${{ secrets.S3_BUCKET }}/releases/${{ github.sha }}.tar.gz`
          export hash=$(nix-prefetch-url --unpack "$TARBALL_URL" --name "ihp-tarball" | tail -1)
          cd ihp-boilerplate
          echo "<?php" >> replace.php
          echo "\$file_contents = file_get_contents('./default.nix');" >> replace.php
          echo '$new_content = preg_replace("/builtins.fetchGit \{.+?\}/s", "$argv[1]", $file_contents);' >> replace.php
          echo '$new_content_with_ref = preg_replace("/refs\/tags\/v\d+.\d+.\d+/", "master", $new_content);' >> replace.php
          echo '$new_content_with_ref = str_replace("p.ihp", "p.ihp wreq mmark mmark-ext strip-ansi-escape stripe-signature stripe-concepts http-conduit haskell-to-elm aeson-casing tz tagsoup ihp-zip ihp-sentry ihp-oauth-google ihp-oauth-github minio-hs ihp-stripe minio-hs hs-brotli wai-middleware-brotli fakedata jwt ihp-openai", $new_content_with_ref);' >> replace.php
          echo "file_put_contents('./default.nix', \$new_content_with_ref);" >> replace.php
          echo "?>" >> replace.php
          php replace.php "builtins.fetchTarball { url = \"$TARBALL_URL\"; sha265 = \"$hash\"; }"
          cat default.nix
          mv Makefile Makefile.old
          echo 'GHC_OPTIONS+= -rtsopts=all\n.SHELLFLAGS := -eu -o pipefail -c\n\n'|cat - Makefile.old > Makefile
          nix-shell --run "new-application Web && make build/bin/RunUnoptimizedProdServer"

    - name: Notify IHP Website about the new build
      run: |
          export TARBALL_URL=`aws s3 presign s3://${{ secrets.S3_BUCKET }}/releases/${{ github.sha }}.tar.gz`
          hash=$(nix-prefetch-url --unpack "$TARBALL_URL" --name "ihp-tarball" | tail -1)
          curl -X POST https://ihp.digitallyinduced.com/CreateBuild -F 'commitSha=${{ github.sha }}' -F "tarballSha256=$hash" --user ${{ secrets.IHP_WEBSITE_AUTH }}

    - name: Install devenv.sh
      run: nix profile install --accept-flake-config github:cachix/devenv/latest

