name: Binary Build
on:
  push:
    branches:
      - master
      - 'v.+'
    tags: ['**']
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, ARM64]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - uses: wimpysworld/nothing-but-nix@main
      with:
        hatchet-protocol: 'rampage'
      if: matrix.os == 'ubuntu-latest'
    - uses: DeterminateSystems/nix-installer-action@main
      with:
        determinate: true
        extra-conf: "lazy-trees = true"
      if: matrix.os != 'ARM64'
    - uses: cachix/cachix-action@v16
      with:
        name: digitallyinduced
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      if: matrix.os != 'ARM64'
    - run: nix flake check --impure --override-input ihp-boilerplate/ihp "github:${{ github.event.repository.full_name }}/${{ github.sha }}" -L