name: Linux Build
on:
  push:
    branches: [master]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v9
    - uses: cachix/cachix-action@v6
      with:
        name: digitallyinduced
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    - run: |
          nix-env -iA nixpkgs.direnv
          nix-env -f https://ihp.digitallyinduced.com/ihp-new.tar.gz -i ihp-new
          ihp-new blog
