name: Binary Build
on:
  push:
    branches:
      - master
      - 'v.+'
    tags: ['**']
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, ARM64]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/d899609c2a22bbd345d2ed200c6ebc08a772ccc9.tar.gz
      if: matrix.os != 'ARM64'
    - uses: cachix/cachix-action@v16
      with:
        name: digitallyinduced
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      if: matrix.os != 'ARM64'
    - run: git clone https://github.com/digitallyinduced/ihp-boilerplate.git
    - name: Cache build directory
      uses: actions/cache@v4
      with:
        path: ihp-boilerplate/build
        key: ${{ runner.os }}-ghc
      if: matrix.os != 'ARM64'
    - run: |
          git archive master --format=tar --prefix=ihp-pro/ | gzip >${{ github.sha }}.tar.gz
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-west-1
    - name: Upload release to S3
      run: |
          aws s3 cp ./${{ github.sha }}.tar.gz s3://${{ secrets.S3_BUCKET }}/releases/${{ github.sha }}.tar.gz
    - name: Build Binaries for Cachix
      run: |
          export TARBALL_URL=`aws s3 presign s3://${{ secrets.S3_BUCKET }}/releases/${{ github.sha }}.tar.gz`
          export hash=$(nix-prefetch-url --unpack "$TARBALL_URL" --name "ihp-tarball" | tail -1)
          cd ihp-boilerplate
          nix-shell -p php --run "php ../.github/patch-flakes.php '$TARBALL_URL'"
          cat flake.nix
          mv Makefile Makefile.old
          echo 'GHC_OPTIONS+= -rtsopts=all\n.SHELLFLAGS := -eu -o pipefail -c\n\n'|cat - Makefile.old > Makefile
          git add .
          nix flake update
          nix develop --impure --command bash -c "new-application Web && make build/bin/RunUnoptimizedProdServer"
    - name: Notify IHP Website about the new build
      run: |
          export TARBALL_URL=`aws s3 presign s3://${{ secrets.S3_BUCKET }}/releases/${{ github.sha }}.tar.gz`
          hash=$(nix-prefetch-url --unpack "$TARBALL_URL" --name "ihp-tarball" | tail -1)
          curl -X POST https://ihp.digitallyinduced.com/CreateBuild -F 'commitSha=${{ github.sha }}' -F "tarballSha256=$hash" --user ${{ secrets.IHP_WEBSITE_AUTH }}
    - name: Build IHP app
      run: |
        cd ihp-boilerplate && nix develop --impure --profile ihp-boilerplate-profile --command "true"
    - name: Install jq
      run: nix profile install nixpkgs#jq
      if: matrix.os != 'ARM64'
    - name: Push IHP app to cachix
      run: |
        cd ihp-boilerplate
        # Cachix doesn't natively support nix flakes in it's cachix-action
        # See https://github.com/cachix/cachix-action/issues/47
        cachix push digitallyinduced ihp-boilerplate-profile
        # Pushing runtime closure
        nix develop --impure --command bash -c 'make -s all; new-application Web'
        git add . # So the generated files are available to nix flakes
        nix build --json --impure | jq -r '.[].outputs | to_entries[].value' | cachix push digitallyinduced
    # Also build the framework's dev env
    - name: Build framework devShell
      run: nix develop --impure --profile ihp-profile --command "true"
    - name: Push framework devShell to cachix
      run: cachix push digitallyinduced ihp-profile
