name: Check JavaScript
on:
  pull_request:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      name: 'Checkout'
    - uses: actions/setup-node@v4
      with:
        node-version: '20'
      name: 'Setup Node'
    - run: cd lib/IHP/DataSync && npm install
      name: 'Install NPM Packages'
    - run: cd lib/IHP/DataSync && npm run typecheck
      name: 'Typechecking DataSync modules'
    - run: cd lib/IHP/DataSync && npm run test
      name: 'Testing DataSync modules'
