name: Check JavaScript
on:
  push:
    branches: '*'
  pull_request:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
      name: 'Checkout'
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
      name: 'Setup Node'
    - run: cd lib/IHP/DataSync && npm install
      name: 'Install NPM Packages'
    - run: cd lib/IHP/DataSync && npm run typecheck
      name: 'Typechecking DataSync modules'