name: Build IHP Documentation and API Reference
on:
  push:
    branches: 'master'
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: cachix/install-nix-action@v14.1
      with:
        nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/51bcdc4cdaac48535dabf0ad4642a66774c609ed.tar.gz
    - uses: cachix/cachix-action@v10
      with:
        name: digitallyinduced
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-west-1
    - name: Build Docs
      run: |
          cd $GITHUB_WORKSPACE
          nix-shell --run "cd Guide; make guide.tar.gz"
    - name: Build API Reference
      run: |
          cd $GITHUB_WORKSPACE
          nix-shell --run "chmod +x build-haddock; ./build-haddock"
          tar -czvf api-reference.tar.gz haddock-build
    - name: Uploading to S3
      run: |
          aws s3 cp ./Guide/guide.tar.gz s3://${{ secrets.S3_BUCKET }}/docs/guide.tar.gz
          aws s3 cp ./api-reference.tar.gz s3://${{ secrets.S3_BUCKET }}/docs/api-reference.tar.gz
