name: "Tests + Compile"
on:
  pull_request:
    branches: [master]
  push:
    branches: 'master'
jobs:
  tests:
    runs-on: ARM64
    steps:
    - uses: actions/checkout@v5
    - run: nix develop --impure --command tests
    - run: nix develop --impure --command fastbuild