name: "nix flake check --impure"
on:
  pull_request:
    branches: [master]
  push:
    branches: 'master'
jobs:
  nix-flake-check:
    runs-on: ARM64
    steps:
    - uses: actions/checkout@v6
    - run: nix flake check --impure --override-input ihp-boilerplate/ihp "github:${{ github.event.repository.full_name }}/${{ github.sha }}" -L